.page-header {
  width: 95%;
  margin: 0 auto;
  height: 630px;
}
.page-header .header-wrapper {
  position: relative;
  height: 100%;
}
.page-header .header-wrapper div {
  position: absolute;
  display: inline-block;
}
.page-header .header-wrapper div .side-text {
  font-size: large;
}
.page-header .header-wrapper div.img-1 {
  top: -30px;
  left: 0;
  max-height: 250px;
  max-width: 29%;
}
.page-header .header-wrapper div.img-1 .side-text {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  right: -145px;
  top: 106px;
}
.page-header .header-wrapper div.img-2 {
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 24%;
}
.page-header .header-wrapper div.img-2 .side-text {
  bottom: 7px;
  right: -174px;
  z-index: 10;
}
.page-header .header-wrapper div.img-3 {
  top: -30px;
  right: 0;
  max-width: 29%;
}
.page-header .header-wrapper div.img-3 .side-text {
  bottom: -31px;
  right: 0;
}
.page-header .header-wrapper div.header-logo {
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 10%;
}
.page-header .header-wrapper div.header-main-title {
  max-width: 17%;
  min-width: 158px;
  background: #fff;
  padding: 15px 10px;
  bottom: 0;
  left: 0;
}
.page-header .header-wrapper div.header-main-title h1 {
  line-height: 36px;
  font-size: 2.3em;
}
.page-header .header-wrapper div.header-main-title > p {
  display: block;
}
.page-header .header-wrapper div p {
  display: none;
}
@media (min-width: 1200px) {
  .page-header {
    height: 559px;
    width: 1100px;
  }
  .page-header .header-wrapper div.img-1 {
    max-width: 31%;
  }
  .page-header .header-wrapper div.img-2 {
    max-width: 21%;
  }
  .page-header .header-wrapper div.img-3 {
    max-width: 31%;
  }
  .page-header .header-wrapper div.header-logo {
    max-width: 10%;
  }
  .page-header .header-wrapper div.header-main-title {
    max-width: 17%;
    padding: 15px 10px;
  }
  .page-header .header-wrapper div.header-main-title h1 {
    font-size: 2.3em;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .page-header {
    height: 559px;
  }
  .page-header .header-wrapper div.img-1 {
    min-width: 290px;
    max-width: 29%;
  }
  .page-header .header-wrapper div.img-2 {
    max-width: 23%;
  }
  .page-header .header-wrapper div.img-3 {
    max-width: 29%;
  }
  .page-header .header-wrapper div.header-logo {
    max-width: 9%;
  }
  .page-header .header-wrapper div.header-main-title {
    padding: 15px 10px;
  }
  .page-header .header-wrapper div.header-main-title h1 {
    font-size: 2.3em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-header {
    height: 559px;
  }
  .page-header .header-wrapper div.img-1 {
    max-width: 31%;
    min-width: 233px;
  }
  .page-header .header-wrapper div.img-2 {
    max-width: 23%;
  }
  .page-header .header-wrapper div.img-3 {
    max-width: 31%;
    min-width: 247px;
  }
  .page-header .header-wrapper div.header-logo {
    max-width: 10%;
  }
  .page-header .header-wrapper div.header-main-title {
    padding: 15px 10px;
  }
  .page-header .header-wrapper div.header-main-title h1 {
    font-size: 2.3em;
  }
}
@media (max-width: 767px) {
  .page-header {
    height: auto;
    width: 100%;
  }
  .page-header .header-wrapper div {
    display: block;
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
  }
  .page-header .header-wrapper div.img-1 {
    max-width: initial;
    max-height: 400px;
  }
  .page-header .header-wrapper div.img-2 {
    max-width: initial;
    max-height: 400px;
  }
  .page-header .header-wrapper div.img-3 {
    max-width: initial;
    max-height: 400px;
  }
  .page-header .header-wrapper div.header-logo {
    display: none;
  }
  .page-header .header-wrapper div.header-main-title {
    display: none;
    padding: 15px 10px;
  }
  .page-header .header-wrapper div.header-main-title h1 {
    font-size: 2.3em;
  }
  .page-header .header-wrapper div .side-text {
    display: none;
  }
  .page-header .header-wrapper div p {
    display: inline-block;
    font-size: 20px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #636363;
  }
}
@media (max-width: 767px) and (max-width: 479px) {
  .page-header .header-wrapper div {
    max-height: 300px;
  }
}
@media (max-width: 767px) and (max-width: 479px) {
  .page-header .header-wrapper div.img-1 {
    max-height: 300px;
  }
}
@media (max-width: 767px) and (max-width: 479px) {
  .page-header .header-wrapper div.img-2 {
    max-height: 300px;
  }
}
@media (max-width: 767px) and (max-width: 479px) {
  .page-header .header-wrapper div.img-3 {
    max-height: 300px;
  }
}
