
.content_bottom{
	.container_inner{
		width:100%;
		@media only screen and (max-width: 480px){
			.qode_instagram_feed.col_8 {
			    li{
			    	width: 50%;
			    }
			    li:nth-child(n+5){
			    	display: none;
			    }
			}
		}
	}
}

@media only screen and (max-width: 600px){
	body.page-template-blog-pinterest-full-width-php .content .full_width {
	    padding: 44px 16px 25px;
	}
}

