.paint{
	padding-top: 30px;
	@media (max-width: 768px){
		padding-top: 0px;
		padding-left: 50px;
	}
	.paint-page{
		width: 100%;
		position: relative;
	    .paint-menu-wrapper{
			width: 19%;
			display: inline-block;
			@media (max-width: 576px){
				display: initial;
			}
		    .paint-menu{
				font-size: 16px;
				position: fixed;
				top: 50%;
				text-align: left;
				//padding-top: 50%;
				@media (max-width: 768px){
					left: 3%;
				}
				@media (max-width: 576px){
					position: inherit;
					padding-bottom: 20px;
				}
				color: black;
				p:hover { 
					color: black;
				}
				ul{
					list-style: none;
					@media (max-width: 576px){
						display: -webkit-inline-box;
					}
				}
			}
		}

		.paint-content{
			width: 80%;
			display: inline-block;
		}
	}
	
	
}

@media (max-width: 768px){
	.paint-content{
		.filter_holder {
		    display: none;
		}
	}
}