.paint {
  padding-top: 30px;
}
@media (max-width: 768px) {
  .paint {
    padding-top: 0px;
    padding-left: 50px;
  }
}
@media (max-width: 601px) {
  .paint {
    padding-top: 0px;
    padding-left: 0px;
  }
}
.paint .paint-page {
  width: 100%;
  position: relative;
}
.paint .paint-page .paint-menu-wrapper {
  width: 19%;
  display: inline-block;
}
@media (max-width: 601px) {
  .paint .paint-page .paint-menu-wrapper {
    display: initial;
  }
}
.paint .paint-page .paint-menu-wrapper .paint-menu {
  font-size: 16px;
  position: fixed;
  top: 50%;
  text-align: left;
  color: black;
}
@media (max-width: 1046px) {
  .paint .paint-page .paint-menu-wrapper .paint-menu {
    left: 3%;
  }
}
@media (max-width: 601px) {
  .paint .paint-page .paint-menu-wrapper .paint-menu {
    position: inherit;
    padding-bottom: 25px;
  }
}
.paint .paint-page .paint-menu-wrapper .paint-menu p:hover {
  color: black;
}
.paint .paint-page .paint-menu-wrapper .paint-menu ul {
  list-style: none;
}
@media (max-width: 601px) {
  .paint .paint-page .paint-menu-wrapper .paint-menu ul {
    display: -webkit-inline-box;
  }
}
.paint .paint-page .paint-menu-wrapper .view-by-print-menu {
  font-size: 16px;
  position: fixed;
  top: 50%;
  text-align: left;
  color: black;
}
@media (max-width: 1046px) {
  .paint .paint-page .paint-menu-wrapper .view-by-print-menu {
    left: 3%;
  }
}
@media (max-width: 601px) {
  .paint .paint-page .paint-menu-wrapper .view-by-print-menu {
    position: inherit;
  }
}
.paint .paint-page .paint-menu-wrapper .view-by-print-menu p:hover {
  color: black;
}
.paint .paint-page .paint-menu-wrapper .view-by-print-menu ul {
  list-style: none;
}
@media (max-width: 601px) {
  .paint .paint-page .paint-menu-wrapper .view-by-print-menu ul {
    display: -webkit-inline-box;
  }
}
.paint .paint-page .paint-content {
  width: 80%;
  display: inline-block;
}
@media (max-width: 601px) {
  .paint .paint-page .paint-content {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .paint-content .filter_holder {
    display: none;
  }
}
@media (max-width: 601px) {
  .paint-content.col-masonry .pinterest_full_width {
    width: 100% !important;
  }
  .content_inner > .full_width.archive-padding > .full_width_inner {
    padding-top: 0px !important;
  }
  .content_inner > .container > .container_inner.default_template_holder.clearfix.archive-padding {
    padding-top: 0px !important;
  }
  .four_columns > .column1 > .column_inner,
  .four_columns > .column2 > .column_inner,
  .four_columns > .column3 > .column_inner,
  .four_columns > .column4 > .column_inner {
    padding: 0px !important;
  }
  .filter_holder ul li {
    display: -webkit-inline-box;
    float: none;
  }
  .filter_holder ul {
    text-align: center;
  }
  .content .content_inner > .full_width > .full_width_inner {
    padding: 0px !important;
  }
}
