.paint{
	padding-top: 30px;
	@media (max-width: 768px){
		padding-top: 0px;
		padding-left: 50px;
	}
	@media (max-width: 601px){
		padding-top: 0px;
		padding-left: 0px;
	}
	.paint-page{
		width: 100%;
		position: relative;
	    .paint-menu-wrapper{
			width: 19%;
			display: inline-block;
			@media (max-width: 601px){
				display: initial;
			}
		    .paint-menu{
				font-size: 16px;
				position: fixed;
				top: 50%;
				text-align: left;
				//padding-top: 50%;
				@media (max-width: 1046px){
					left: 3%;
				}
				@media (max-width: 601px){
					position: inherit;
					padding-bottom: 25px;
				}
				color: black;
				p:hover { 
					color: black;
				}
				ul{
					list-style: none;
					@media (max-width: 601px){
						display: -webkit-inline-box;
					}
				}
			}
			.view-by-print-menu{
				font-size: 16px;
				position: fixed;
				top: 50%;
				text-align: left;

				//padding-top: 50%;
				@media (max-width: 1046px){
					left: 3%;
				}
				@media (max-width: 601px){
					position: inherit;
				}
				color: black;
				p:hover { 
					color: black;
				}
				ul{
					list-style: none;
					@media (max-width: 601px){
						display: -webkit-inline-box;
					}
				}
			}
		}

		.paint-content{
			width: 80%;
			display: inline-block;
			@media (max-width: 601px){
				width: 100%;
			}
		}
	}
	
	
}

@media (max-width: 768px){
	.paint-content{
		.filter_holder {
		    display: none;
		}
	}
}

@media (max-width: 600px){
	.four_columns>.column1>.column_inner, .four_columns>.column2>.column_inner, .four_columns>.column3>.column_inner, .four_columns>.column4>.column_inner{
		padding:0px !important;
	}
}

@media (max-width: 601px){
	.paint-content{
		&.col-masonry{
			.pinterest_full_width{
				width: 100% !important;
			}
		}
	}
	.content_inner > .full_width.archive-padding > .full_width_inner{
		padding-top: 0px !important;
	}

	.content_inner > .container > .container_inner.default_template_holder.clearfix.archive-padding{
		padding-top: 0px !important;
	}

	
	   		
   .filter_holder ul li {
   		display: -webkit-inline-box;
   		float: none;
   }
   .filter_holder ul {
   		text-align: center;
   }

    .content .content_inner > .full_width > .full_width_inner {
    	padding:0px !important;
    }

	.container_inner{
    	width: 450px;
    }

}

@media (max-width: 500px){
    .container_inner{
    	width: 400px;
    }
}

@media (max-width: 425px){
    .container_inner{
    	width: 360px;
    }
}

@media (max-width: 400px){
    .container_inner{
    	width: 340px;
    }
}

@media (max-width: 379px){
    .container_inner{
    	width: 320px;
    }
}

@media (max-width: 360px){
    .container_inner{
    	width: 300px;
    }
}

@media (max-width: 338px){
    .container_inner{
    	width: 280px;
    }
}

.content .container .container_inner.default_template_holder.painkiller {
	padding-top: 0px !important;
}

.content .content_inner>.container>.container_inner.default_template_holder{
	padding-top: 20px !important;
}